
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<!-- style css -->
<link href="~/Content/css/style.css" rel="stylesheet" />
<!-- Responsive-->
<link href="~/Content/css/responsive.css" rel="stylesheet" />
<!-- Scrollbar Custom CSS -->
<link href="~/Content/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<section class="banner_main" style="padding-top: 0px; min-height: 500px">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text-bg">
                    <h1> <span style="font-family: 'Rajdhani', sans-serif;" class="blodark text-animation"> Luyện tập </span> <br>Miễn phí</h1>
                    <p>Ôn tập kiến thức hiệu quả các môn học</p>
                    <p>Dành riêng cho sinh viên CNTT HUTECH</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ban_img">
                    <figure><img src="~/Content/images/hutechback.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- begin footer -->
<footer>
    <div style="background-color: rgb(255,165,0); padding: 50px 0px 40px 0px;" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="inror_box">
                        <h3 class="inror_title">NHIỆM VỤ </h3>
                        <li class="inror_items"><img src="/Content/images/environment (1).png" alt=""> LK Website</li>
                        <li class="inror_items">   Nơi hỗ trợ các bạn sinh viên IT Hutech ôn tập kiến thức bằng hình thức trắc nghiệm, cùng nhau chia sẻ kiến thức khối ngành Công nghệ thông tin.</li>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inror_box">
                        <h3 style="margin-bottom:10px;" class="inror_title">THEO DÕI CHÚNG TÔI  </h3>
                        <a style="padding:20px;" href="https://www.facebook.com">
                            <img height="60" width="60" src="~/Content/images/facebook.png" />
                        </a>
                        <a href="https://www.instagram.com">
                            <img height="60" width="60" src="~/Content/images/instagram.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inror_box">
                        <h3 class="inror_title">LIÊN HỆ  </h3>
                        <li class="inror_items"><i class="fa fa-map-marker"></i> Số 207, Đường 3/2, quận Thiên Sứ, thành phố Giấc Mơ</li>
                        <li class="inror_items"><i class="fa fa-phone"></i> 0353854616</li>
                        <li class="inror_items"><i class="fa fa-envelope-o"></i> anhloc@gmail.com</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->