@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <section class="banner_main" style="margin-top: -50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="text-bg" style="margin-top: 50px;">
                        <h1><span class="blodark text-animation"> Ôn tập miễn phí</span> <br></h1>
                        <p>Ôn tập kiến thức hiệu quả các môn học</p>
                        <p>Dành riêng cho sinh viên CNTT HUTECH</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ban_img">
                        <img src="~/Content/images/GN4sfZ9.jpg" alt="Hình ảnh 1" style="width: 100%; height: auto; display: block;">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer" style="background-color: rgb(255,165,0); margin-top: 100px; padding: 10px 0px 0px 0px">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="inror_box">
                            <h3 class="inror_title">NHIỆM VỤ</h3>
                            <ul class="inror_list">
                                <li><img src="/Content/images/environment.png" alt=""> Hệ thống ôn tập kiến thức</li>
                                <li>Nơi hỗ trợ các bạn sinh viên IT Hutech ôn tập kiến thức bằng hình thức trắc nghiệm, cùng nhau chia sẻ kiến thức khối ngành</li>
                                <p>Công nghệ thông tin.</p>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="inror_box">
                            <h3 class="inror_title">THEO DÕI CHÚNG TÔI</h3>
                            <div class="social-icons">
                                <a href="https://www.facebook.com">
                                    <img src="/Content/images/facebook.png" width="60" height="60" alt="Facebook">
                                </a>
                                <a href="https://www.instagram.com">
                                    <img src="/Content/images/instagram.png" width="60" height="60" alt="Instagram">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="inror_box">
                            <h3 class="inror_title">LIÊN HỆ</h3>
                            <ul class="inror_list">
                                <li><i class="fa fa-map-marker"></i> Số 207, Đường 3/2, quận Thiên Sứ, thành phố Giấc Mơ</li>
                                <li><i class="fa fa-phone"></i> 0353854616</li>
                                <li><i class="fa fa-envelope-o"></i> anhloc@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Your scripts and other HTML content -->
</body>
</html>
