@{
    ViewBag.Title = "Trang quản lý";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
.flashing-text {
    color: #007bff; /* Blue color */
    animation: flash 2s infinite;
}

@@keyframes flash {
    0% {
        color: #007bff; /* Blue color */
    }
    50% {
        color: #ffA500; /* Orange color */
    }
    100% {
        color: #007bff; /* Back to Blue color */
    }
}
</style>

<section class="banner_main" style="margin-top: -50px;">
    <!-- Adjusted margin -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-bg" style="margin-top: 50px;">
                    <h1>
                        <span style="font-family: 'Rajdhani', sans-serif;" class="blodark flashing-text">Website Quản Lý</span>
                        <br>
                    </h1>
                    <p style="font-size: 24px; font-family: 'Rajdhani', sans-serif;">Hệ thống ôn tập kiến thức các môn học</p>
                    <p style="font-size: 24px; font-family: 'Rajdhani', sans-serif;">Dành riêng cho sinh viên Công Nghệ Thông Tin</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="ban_img" style="margin-bottom: -20px;">
                    <img src="~/Content/images/GN4sfZ9.jpg" alt="Hình ảnh 1" style="width: 95%; height: auto; display: block;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="ban_img">
                    <img src="~/Content/images/Cong-nghe-thong-tin-la-nganh-hoc-la-dinh-huong-nghe-nghiep-duoc-ua-chuong.jpg" alt="Hình ảnh 2" style="width: 100%; height: auto; display: block;">
                </div>
            </div>
        </div>
    </div>
</section>
