
@{
    ViewBag.Title = "Trang quản lý";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<!-- style css -->
<link href="~/Content/css/style.css" rel="stylesheet" />
<!-- Responsive-->
<link href="~/Content/css/responsive.css" rel="stylesheet" />
<!-- Scrollbar Custom CSS -->
<link href="~/Content/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />

<section class="banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text-bg">
                    <h1> <span style="font-family: 'Rajdhani', sans-serif;" class="blodark text-animation"> Luyện tập </span> <br>Miễn phí</h1>
                    <p>Ôn tập kiến thức hiệu quả các môn học</p>
                    <p>Dành riêng cho sinh viên CNTT HUTECH</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ban_img">
                    <figure><img src="~/Content/images/GN4sfZ9.jpg" alt="#" /></figure>
                    <br>
                    <figure><img src="~/Content/images/Cong-nghe-thong-tin-la-nganh-hoc-la-dinh-huong-nghe-nghiep-duoc-ua-chuong.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</section>
